// Input

$input--background:					rgba(#fff, .25);
$input--background-hover:			rgba(#fff, .3);
$input--background-disabled:		rgba(#fff, .15);
$input--border:						transparent;
$input--color:						rgb(238, 189, 132);
$input--color-placeholder:			rgba(238, 189, 132, 0.75);

$input--label__background:			#F5F5F5;
$input--label__background-hover:	#E5FFE6;
$input--label__background-disabled:	#F5F5F5;
$input--label__color:				#757575;
$input--label__color-hover:			#4CAF50;

// Colors

$color0:							#000;
$color1:							#fff;
$color2:							#45321D;
$color3:							#C89252;
$color4:							#EEBD84;
$color5:							#594834;
$color6:							#e5e5e5;
$color7:							#EEEAE2;

// Media

$laptop:							1170px;
$tablet:							992px;
$mobile:							767px;