// Input

$input--background:					#fff;
$input--background-hover:			#fff;
$input--background-disabled:		#fff;
$input--border:						transparent;
$input--color:						#313131;
$input--color-placeholder:			rgba(#313131, 0.75);

// Colors

$color0:							#000;
$color1:							#fff;
$color2:							#313131;
$color3:							#F9D43B;
$color4:							#f92245;


// Media

$laptop:							1170px;
$tablet:							992px;
$mobile:							767px;