// Footer

.footer {
	&--contacts {
		padding: 30px 0;
		background: url(../images/footer-pattern_dashed.png), $color0;
		color: $color1;
	}
	&--container {
		@extend %flex;

		@media(max-width: 767px) {
			flex-direction: column;
			justify-content: center;
		}
	}
	&--logo {
		width: 210px;
		@media(max-width: 992px) {
			width: auto;
		}
		@media(max-width: 767px) {
			text-align: center;
		}
	}
	&--mail, &--phone {
		position: relative;
		font-size: 1.5rem;
		font-weight: 500;

		@media(max-width: 767px) {
			font-size: 1rem;
			margin-top: 15px;
			margin-left: 25px;
		}
	}

	&--mail {
		@include p_el(after, 23px, 18px) {
			@include position(absolute, 2px null 0 -35px);
			background: url(../images/icons/mail.svg) center center no-repeat;
			background-size: 23px 18px;
		}
	}
	&--phone {
		@include p_el(after, 14px, 22px) {
			@include position(absolute, 0 null 0 -25px);
			background: url(../images/icons/phone.svg) center center no-repeat;
			background-size: 14px 22px;
		}
	}
	&--copyright {
		background-color: $color0;
		line-height: 1;
		color: rgba($color1, .5);
		text-align: center;
		padding: 16px 0;
	}
}