// Base

* {
	&,&:before,&:after {
		box-sizing: border-box;
	}
}

body {
	position: relative;
	font-family: 'Rubik', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 140%;
	color: $color2;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	line-height: 140%;
}

// Links

a {
	color: $color3;
	text-decoration: none;
	transition: color .3s ease;

	background-repeat: no-repeat;
	background-image: linear-gradient(to right, $color3 0%, $color3 100%);
	background-position: 0 calc(100% - .15em);
	background-size: 0 20%;
	transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;

	&:hover, &:active {
		color: $color3;
		background-size: 100% 20%;
	}
	&:focus {
		color: $color3;
		background-size: 100% 22%;
	}
	&[disabled] {
		&, &:hover, &:focus, &:active {
			color: rgba($color3, .8);
		}
	}
	&.static {
		background: none;
	}
}

*:focus {
	outline:0;
}

// Form

input, textarea {
	background-color: $input--background;
	border: 0;
	padding: 12px 18px;
	font-size: 1rem;
	line-height: 22px;
	color: $input--color;
	transition: background-color .3s ease, color .3s ease;
	&:hover {
		background-color: $input--background-hover;
	}
	&:focus {
		background-color: $input--background-hover;
	}
	@include placeholder {
		color: $input--color-placeholder;
		transition: color .3s ease;
		opacity: 1;
	}
	&[disabled] {
		background-color: $input--background-disabled;
	}
}

@import "select";

// Flex

%flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%flex--start__horizont {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

%flex--start__vertical {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@media (min-width: 768px) {
	    width: 750px;
	}
	@media (min-width: 992px) {
	    width: 970px;
	}
	@media (min-width: 1200px) {
	    width: 1170px;
	}
}

.button {
	display: inline-block;
	padding: 12px 35px;
	font-size: 1rem;
	line-height: 22px;
	border: 0;
	color: $color2;

	i {
		margin-left: 7px;
	}
}

.button--full {
	background-color: $color3;
	color: $color2;
	transition: background-color .3s ease, color .3s ease;
	&:hover, &:focus {
		background-color: $color0;
		color: $color1;
	}
}

.button--unfull {
	background-color: transparent;
	border: 2px solid $color3;
	color: $color3;
	padding: 13px 18px;
	white-space: nowrap;
	transition: background-color .3s ease;
	&:hover, &:focus {
		background-color: $color3;
		color: $color3;
	}
}
